body {
  margin: 0;
  padding: 1rem;
  font-family: "sahel", "vazirmatn", "vazir", "b yekan", System;
  --color-txt: #21282f;
  --color-bg: #f1f6fb;
  background: var(--color-bg);
  color: var(--color-txt);
}

h1 {
  font-weight: 900;
  margin: 1rem 0 0;
}
p {
  margin: 0 0 2em 0;
}
.wrp {
  max-width: 50rem;
  margin: auto;
}
textarea,
pre {
  background: transparent;
  width: 100%;
  margin-bottom: 1rem;
  box-sizing: border-box;
  resize: vertical;
  border: 1px solid currentColor;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.75;
  padding: 0.5em 0.75em;
  color: inherit;
  scrollbar-color: currentColor transparent;
  direction: ltr;
}

textarea:focus {
  box-shadow: 0 0 0 0.125em currentColor;
  outline: none;
}
pre {
  overflow: auto;
  user-select: all;
  position: relative;
  margin: 1rem 0;
  max-height: 50vh;
}
pre:empty {
  display: none;
}
.arrow {
  width: 24px;
  height: 24px;
  fill: none;
  margin: auto;
  display: block;
}
.arrow-path {
  fill: currentColor;
  fill-rule: evenodd;
  clip-rule: evenodd;
}

.blogfaCode {
  display: none;
}
@media (prefers-color-scheme: dark) {
  body {
    --color-txt: #f1f6fb;
    --color-bg: #21282f;
  }
}

.options {
  margin-bottom: 1rem;
}
.btn {
  line-height: 1em;
  padding: 0.75em;
  background: var(--color-txt);
  color: var(--color-bg);
  border: none;
  border-radius: 4px;
  font-size: 1.1em;
  font-weight: 900;
  min-width: 5em;
  font-family: inherit;
  display: inline-block;
  text-decoration: navajowhite;
  text-align: center;
}

.btn:focus {
  animation: scale 250ms;
}

@keyframes scale {
  to {
    transform: scale(0.95);
  }
}

.btn.trash {
  float: left;
  color: var(--color-txt);
  background: transparent;
  border: solid currentColor 1px;
}
