body {
  margin: 0;
  padding: 1rem;
  font-family: "sahel", "vazirmatn", "vazir", "b yekan", System;
  --color-fg: #11182f;
  --color-bg: #fff;
  background: var(--color-bg);
  color: var(--color-fg);
}

::selection{
  color: var(--color-bg);
  background: var(--color-fg);
}

h1 {
  font-weight: 900;
  margin: 1rem 0 0;
}
p {
  margin: 0 0 2em 0;
}
.wrp {
  max-width: 50rem;
  margin: auto;
}
textarea,
pre {
  background: transparent;
  width: 100%;
  margin-bottom: 1rem;
  box-sizing: border-box;
  resize: vertical;
  border: 1px solid currentColor;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.75;
  padding: 0.5em 0.75em;
  color: inherit;
  scrollbar-color: currentColor transparent;
  direction: ltr;
}

textarea:focus {
  box-shadow: 0 0 0 0.125em currentColor;
  outline: none;
}
pre {
  overflow: auto;
  user-select: all;
  position: relative;
  margin: 1rem 0;
  max-height: 50vh;
}
pre:empty {
  display: none;
}

input[type="checkbox"] {
  appearance: none;
  background: var(--color-fg);
  border-radius: 0.25em;
  height: 1em;
  margin: 0;
  margin-inline-end: 0.5rem;
  position: relative;
  vertical-align: middle;
  width: 1em;
}
input[type="checkbox"]:checked::after,
input[type="checkbox"]:checked::before {
  animation: checkbox 250ms ease;
  background: var(--color-bg);
  content: "";
  display: block;
  position: absolute;
  width: 25%;
}
input[type="checkbox"]:checked::before {
  transform: rotate(45deg);
  height: 75%;
  top: 12.5%;
  right: 25%;
}
input[type="checkbox"]:checked::after {
  transform: rotate(-45deg);
  width: 25%;
  height: 50%;
  top: 33.333%;
  left: 25%;
}
@keyframes checkbox {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
}

.blogfaCode {
  display: none;
}
@media (prefers-color-scheme: dark) {
  body {
    --color-fg: #f1f6fb;
    --color-bg: #020408;
  }
}

.options {
  margin-bottom: 1rem;
}
.btn {
  background: var(--color-fg);
  border-radius: 4px;
  border: none;
  color: var(--color-bg);
  display: inline-block;
  font-family: inherit;
  font-size: 1.1em;
  font-weight: 900;
  line-height: 1em;
  min-width: 5em;
  padding: 0.75em;
  text-align: center;
  text-decoration: none;
}

.btn:focus {
  animation: scale 250ms;
}

@keyframes scale {
  to {
    transform: scale(0.95);
  }
}

.btn.trash {
  float: left;
  color: var(--color-fg);
  background: transparent;
  border: solid currentColor 1px;
}
#bayanHTML::before,
#bayanCSS::after {
  background: var(--color-fg);
  border-bottom-right-radius: var(--borderRradius);
  color: var(--color-bg);
  content: "ساختار قالب";
  display: block;
  font: inherit;
  left: 0;
  line-height: 1;
  padding: 0.5rem;
  position: absolute;
  top: 0;
}
#bayanCSS::after {
  content: "CSS قالب";
}
